<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="/css/pintuer.css">
<link rel="stylesheet" href="/css/admin.css">
<script src="/js/jquery.js"></script>
<script src="/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-pencil-square-o"></span> 增加分销点</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="pointInsert" enctype="multipart/form-data">
      <div class="form-group">
        <div class="label">
          <label>分销点名称：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="point_name" value="" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>地址：</label>
        </div>
        <div class="field">
          <input id='province' class="input" style="height: 42px;width: 60px;resize: none;display:inline;" name="point_province">省<input id='city' class="input" style="height: 42px;width: 60px;resize: none;display:inline;" name="point_city">市<input id='prefecture' class="input" style="height: 42px;width: 60px;resize: none;display:inline;" name="point_prefecture">区
            <input id='address' class="input" style="height: 42px;width: 600px;resize: none;display:inline;" name="point_address">
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>负责人姓名：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="point_manager" value="" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>负责人电话：</label>
        </div>
        <div class="field">
          <input type="number" class="input" name="point_phone" value="" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>负责人邮箱：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="point_mail" value="" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
</body></html>