<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="/css/pintuer.css">
<link rel="stylesheet" href="/css/admin.css">
<script src="/js/jquery.js"></script>
<script src="/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-pencil-square-o"></span> 新建采购单</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="pointNewOrder?insertStr=" >
      <div class="form-group">
        <div class="label">
          <label>供应仓库：</label>
        </div>
        <div class="field">
          <select name="warehouse_id" class="input w50">
            <option value="">请选择供应仓库</option>
            {foreach $warehouseData as $warehouse}
            <option value="{$warehouse.warehouse_id}">{$warehouse.warehouse_name}</option>
            {/foreach}
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>收货分销点：</label>
        </div>
        <div class="field">
          <select name="point_id" class="input w50">
            <option value="">请选择分销点</option>
            {foreach $pointData as $point}
            <option value="{$point.point_id}">{$point.point_name}</option>
            {/foreach}
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>联系人：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="" name="manager_name" data-validate="required:联系人不能为空" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>联系电话：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="" name="manager_phone" data-validate="required:联系电话不能为空" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>邮资：</label>
        </div>
        <div class="field">
          <input type="number" class="input w50" value="" name="shipping_fee" data-validate="required:邮资不能为空" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>备注：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="" name="beizhu"  />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
</body></html>